<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmqjNYHu2i3MNAoTq6jswMq5yGI-dH7t0</string>
	<key>GCM_SENDER_ID</key>
	<string>437527695659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mipl.com.tapp-me</string>
	<key>PROJECT_ID</key>
	<string>tappme-3c2e0</string>
	<key>STORAGE_BUCKET</key>
	<string>tappme-3c2e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437527695659:ios:64ecfcbc89a125a47a756e</string>
</dict>
</plist>